[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/meghrajbhati
[access "refs/for/refs/*"]
	read = group user/meghrajbhati
	push = group user/meghrajbhati
	label-Code-Review = -2..+2 group user/meghrajbhati
	label-Verified = -1..+1 group user/meghrajbhati
	rebase = group user/meghrajbhati
	removeReviewer = group user/meghrajbhati
	submit = group user/meghrajbhati
[access "refs/heads/*"]
	read = group user/meghrajbhati
	create = group user/meghrajbhati
	push = +force group user/meghrajbhati
	pushMerge = group user/meghrajbhati
[access "refs/tags/*"]
	push = +force group user/meghrajbhati
	pushTag = group user/meghrajbhati
	pushSignedTag = group user/meghrajbhati
